@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;

}

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-primary {
  color: #fff;
  background-color: #20B2AA;
}

/* navbar styling */

/* Desktop mode */
.navbar input[type='checkbox'],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 999
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.8rem;
}

.logo {
  order: 1;
  font-size: 3rem;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #20B2AA;
}


/* Showcase styling */
.showcase-area {
  height: 50vh;
  background: url('./img/greece-showcase.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  color: white;
}

.main-title {
  text-transform: uppercase;
}

/* About us */

#about {
  padding: 100px 0px;
  background-color: #f5f5f7;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 3.2rem;
}

#about p {
  font-size: 1.6rem;
  color: #555;
}

#about small {
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-animation 1s ease-in-out forwards;
}

@keyframes about-animation {
  100% {
    transform: translateX(0%);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translateX(-150%);
  animation: about-animation 1s ease-in-out forwards;
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

/* Country section */

#countries {
  padding: 10rem 0 10rem 0;
}

#countries h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #666
}

.country-container {
  display: flex;
  justify-content: space-between;
}

.country-type {
  flex: 1 1 400px;
}

.country-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  /* object-fit: cover; */
  /* object-position: center; */
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  /* z-index: 2; */
  text-align: center;
  transition: all 0.3s ease-in-out;
  ;
}

.img-content h3 {
  color: #fff;
  font-size: 250%;
  text-shadow: 0px 5px 5px rgb(61, 61, 61);
}

.img-content a {
  font-size: 1.2rem;
}


/* place styling */
#places {
  padding-top: 100px;
}

.place-heading {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #666
}

.place-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.place-container img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.place-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: center;
  margin-bottom: 3rem;
}

.place-description {
  margin: auto 2rem;
}

.place-title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444
}

.place-description p {
  font-size: 1.4rem;
  color: #555;
  font-weight: 500;
}

.place-description .place-price {
  color: #20B2AA;
  font-weight: 700;
}

/* testimonial */
#testimonials {
  background-color: #f5f5f7;
  padding: 100px 0rem;
}

.testimonial-title {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
}

.testimonial-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.testimonial-item {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
  align-items: center;
  margin-right: 1rem;
  justify-content: space-evenly;
}

.testimonial-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.rating {
  font-size: 2rem;
  padding-top: 2rem;
}

.testimonial-content,
.name {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}


.testimonial-content,
.testimonial-img,
.name {
  margin-top: 1rem;
}

/* Contact section style */
#contact {
  background-color: rgb(235, 235, 235);
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0rem 3rem 0rem;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 18%;
}

.contact-common {
  flex: 1 1 400px;
}

.contact-form {
  background-color: #fff;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #666;
  padding: 1rem 2rem 1rem 2rem;
}

.form-fields {
  padding: 1rem 2rem 1rem 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.form-field label {
  font-size: 1.5rem;
  color: #555;
}

.form-field input {
  height: 35px;
}

input[type="text"],
input[type="email"] {
  border: 0;
  border-bottom: 1px solid black;
  color: #444;
  font-size: 1.5rem;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
}

textarea {
  height: 110px;
  padding: 5px 5px 5px 5px;
  color: #444;
  outline: none;
}

.form-btn {
  border: none;
}

/* Footer Top styling */
.footer-container {
  text-align: center;
}

#footer-top {
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 4rem 0rem 4rem 0rem;
}

.footer-title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.footer-content {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  max-width: 500px;
  margin: auto;
  line-height: 30px;
}

.footer-logo {
  padding: 1rem 0rem 1rem 0rem;
  font-size: 3.5rem;
}

.footer-logo i {
  padding-right: 2rem;
}

/* Bottom Footer */
#footer-bottom {
  background-color: rgb(13, 13, 13);
  color: #fff;
}

.footer-bottom-content {
  padding: 3rem 0rem 3rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .country-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .country-type {
    padding-top: 20px;
  }

  .place-container img {
    width: 150px;
    height: 150px;
  }

  .testimonial-container {
    flex-wrap: wrap;
  }

  hr.border {
    border-top: 1px solid rgba(159, 159, 159, 0.8);
    width: 100%;
  }

  /* Navbar media query */
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 40px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 32px;
    width: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: #333333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background-color: #fff;
    height: 100vh;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 20px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    width: 50vw;
  }

  .navbar .menu-items li {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 3rem
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0)
  }


  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg)
  }


  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0)
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg)
  }


}